<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="mode" type="xstring" value="Z_SCORE"/>
        <entry key="new-min" type="xdouble" value="0.0"/>
        <entry key="new-max" type="xdouble" value="1.0"/>
        <config key="data-column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="3"/>
                <entry key="0" type="xstring" value="Year"/>
                <entry key="1" type="xstring" value="Month"/>
                <entry key="2" type="xstring" value="VicAge"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="84"/>
                <entry key="0" type="xstring" value="state_alabama"/>
                <entry key="1" type="xstring" value="state_alaska"/>
                <entry key="2" type="xstring" value="state_arizona"/>
                <entry key="3" type="xstring" value="state_arkansas"/>
                <entry key="4" type="xstring" value="state_california"/>
                <entry key="5" type="xstring" value="state_colorado"/>
                <entry key="6" type="xstring" value="state_conneticut"/>
                <entry key="7" type="xstring" value="state_delaware"/>
                <entry key="8" type="xstring" value="state_dist_columbia"/>
                <entry key="9" type="xstring" value="state_florida"/>
                <entry key="10" type="xstring" value="state_georgia"/>
                <entry key="11" type="xstring" value="state_hawaii"/>
                <entry key="12" type="xstring" value="state_idaho"/>
                <entry key="13" type="xstring" value="state_illinois"/>
                <entry key="14" type="xstring" value="state_indiana"/>
                <entry key="15" type="xstring" value="state_iowa"/>
                <entry key="16" type="xstring" value="state_kensas"/>
                <entry key="17" type="xstring" value="state_kentucky"/>
                <entry key="18" type="xstring" value="state_louisiana"/>
                <entry key="19" type="xstring" value="state_maine"/>
                <entry key="20" type="xstring" value="state_maryland"/>
                <entry key="21" type="xstring" value="state_massachusetts"/>
                <entry key="22" type="xstring" value="state_michigan"/>
                <entry key="23" type="xstring" value="state_minnesota"/>
                <entry key="24" type="xstring" value="state_mississippi"/>
                <entry key="25" type="xstring" value="state_missouri"/>
                <entry key="26" type="xstring" value="state_montana"/>
                <entry key="27" type="xstring" value="state_nebraska"/>
                <entry key="28" type="xstring" value="state_nevada"/>
                <entry key="29" type="xstring" value="state_new_hampshire"/>
                <entry key="30" type="xstring" value="state_new_jersey"/>
                <entry key="31" type="xstring" value="state_new_mexico"/>
                <entry key="32" type="xstring" value="state_new_york"/>
                <entry key="33" type="xstring" value="state_north_carolina"/>
                <entry key="34" type="xstring" value="state_north_Dakota"/>
                <entry key="35" type="xstring" value="state_ohio"/>
                <entry key="36" type="xstring" value="state_oklahoma"/>
                <entry key="37" type="xstring" value="state_oregon"/>
                <entry key="38" type="xstring" value="state_pennsylvania"/>
                <entry key="39" type="xstring" value="state_rhodes_island"/>
                <entry key="40" type="xstring" value="state_south_carolina"/>
                <entry key="41" type="xstring" value="state_south_dakota"/>
                <entry key="42" type="xstring" value="state_tennesse"/>
                <entry key="43" type="xstring" value="state_texas"/>
                <entry key="44" type="xstring" value="state_utah"/>
                <entry key="45" type="xstring" value="state_vermont"/>
                <entry key="46" type="xstring" value="state_virgina"/>
                <entry key="47" type="xstring" value="state_washington"/>
                <entry key="48" type="xstring" value="state_west_virgina"/>
                <entry key="49" type="xstring" value="state_wisconsin"/>
                <entry key="50" type="xstring" value="state_wyoming"/>
                <entry key="51" type="xstring" value="Sheriff"/>
                <entry key="52" type="xstring" value="agenttype_municipal"/>
                <entry key="53" type="xstring" value="agenttype_special"/>
                <entry key="54" type="xstring" value="agenttype_primaryState"/>
                <entry key="55" type="xstring" value="agenttype_county"/>
                <entry key="56" type="xstring" value="agenttype_tribal"/>
                <entry key="57" type="xstring" value="agenttype_regional"/>
                <entry key="58" type="xstring" value="vicSex_male"/>
                <entry key="59" type="xstring" value="vicSex_female"/>
                <entry key="60" type="xstring" value="vicSex_unknown"/>
                <entry key="61" type="xstring" value="vicRace_black"/>
                <entry key="62" type="xstring" value="vicRace_white"/>
                <entry key="63" type="xstring" value="vicRace_asian"/>
                <entry key="64" type="xstring" value="vicRace_native"/>
                <entry key="65" type="xstring" value="vicRace_unknown"/>
                <entry key="66" type="xstring" value="vicRace_hawaiian_or_pacific"/>
                <entry key="67" type="xstring" value="weapon_other"/>
                <entry key="68" type="xstring" value="weapon_handgun"/>
                <entry key="69" type="xstring" value="weapon_shotgun"/>
                <entry key="70" type="xstring" value="weapon_knife_etc"/>
                <entry key="71" type="xstring" value="weapon_blunt_obj"/>
                <entry key="72" type="xstring" value="weapon_rifle"/>
                <entry key="73" type="xstring" value="weapon_personal_weapon"/>
                <entry key="74" type="xstring" value="weapon_firearm"/>
                <entry key="75" type="xstring" value="weapon_drowning"/>
                <entry key="76" type="xstring" value="weapon_strangulation"/>
                <entry key="77" type="xstring" value="weapon_fire"/>
                <entry key="78" type="xstring" value="weapon_narcotics"/>
                <entry key="79" type="xstring" value="weapon_asphyxiation_plus_gas"/>
                <entry key="80" type="xstring" value="weapon_explosives"/>
                <entry key="81" type="xstring" value="weapon_poison_no_gas"/>
                <entry key="82" type="xstring" value="weapon_pushed"/>
                <entry key="83" type="xstring" value="weapon_other_gun"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.normalize3.Normalizer3NodeFactory"/>
    <entry key="node-name" type="xstring" value="Normalizer"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.4.2.v202110181012"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.4.2.v202110181012"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Normalizer"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
